.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
.DS_Store



/1_Data/2_Neuron_Tracing
!/1_Data/2_Neuron_Tracing/Tracing_Files.rtf

1_Data/3_Registration/01_Reference_Brains/*

1_Data/3_Registration/02_Bridging_Registrations/Benton_Jefferis_DrosophilidBridgingRegistrations-master/*

!1_Data/3_Registration/02_Bridging_Registrations/*.png
!1_Data/3_Registration/02_Bridging_Registrations/Transformations — navis 1.6.0 documentation.webloc

1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecF>DsecI/**
!1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecF>DsecI/commands/*
!1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecF>DsecI/Registration
!1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecF>DsecI/*.png

1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecF>FCWB/*
!1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecF>FCWB/commands
!1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecF>FCWB/Registration
!1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecF>FCWB/*.png

1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecF>IS2/*
!1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecF>IS2/commands
!1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecF>IS2/Registration
!1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecF>IS2/*.png

1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecF>T1/*
!1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecF>T1/commands
!1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecF>T1/Registration
!1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecF>T1/*.png

1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecI>DsecF/*
!1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecI>DsecF/commands
!1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecI>DsecF/Registration
!1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecI>DsecF/*.png

1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecI>IS2/*
!1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecI>IS2/commands
!1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecI>IS2/Registration
!1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecI>IS2/*.png

1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecI>IS2_rigid/*
!1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecI>IS2_rigid/commands
!1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecI>IS2_rigid/Registration
!1_Data/3_Registration/02_Bridging_Registrations/Reg_DsecI>IS2_rigid/*.png

1_Data/4_Brain_Area_Annotations/01_Dsec_DsecF/DsecF_highres.obj
1_Data/4_Brain_Area_Annotations/02_Dsec_DsecI/DsecI_highres.obj
1_Data/4_Brain_Area_Annotations/03_Dmel_IS2/IS2_highres.obj


1_Data/7_VM5d_Measurements_Tom/1_Dsec_VM5d/Data_raw/
1_Data/7_VM5d_Measurements_Tom/2_Dmel_VM5d/Data_raw/

1_Data/9_Jacobian
!1_Data/9_Jacobian/commands

3_Figures/Figure1/*.png
3_Figures/Figure2/*.png
3_Figures/Figure3/*.png
3_Figures/Figure4/*.png
3_Figures/Figure5/*.png
3_Figures/Sup_Figure1/*.png
3_Figures/Sup_Figure2/*.png
3_Figures/Sup_Figure3/*.png
3_Figures/Sup_Figure4/*.png
3_Figures/Sup_Figure5/*.png
3_Figures/Sup_Figure6/*.png

5_Videos/

